@media screen and (min-width: 768px) {
    .hero-container .hero-intro h1 {
        font-size: 3rem;
    }
    .footer-wrapper {
        text-align: initial;
        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        background: linear-gradient(.25turn, $Very-light-red2, $Light-red2);
        .header-wrapper {
            background-size: initial;
            background-position: center right 65%;
            .container {
                .header-container {
                    padding: 4rem 0;
                    .logo {
                        margin-right: 2.5rem;
                        img {
                            height: initial;
                        }
                    }
                    .left-nav nav {
                        display: flex;
                        .nav-links li {
                            position: relative;
                            padding: 0 1.5rem;
                            .dropdown {
                                padding: 0.5rem 0;
                                &:hover {
                                    .dropdown-button {
                                        text-decoration: underline;
                                        &::after {
                                            transform: rotate(180deg);
                                        }
                                    }
                                    .dropdown-links {
                                        visibility: visible;
                                        opacity: 1;
                                        top: 2.25rem;
                                    }
                                }
                                .dropdown-button {
                                    font-family: 'Ubuntu', sans-serif;
                                    font-weight: 500;
                                    font-size: 1rem;
                                    background: transparent;
                                    border: none;
                                    cursor: pointer;
                                    color: $White;
                                    &::after {
                                        content: url(/assets/images/icon-arrow-light.svg);
                                        padding: 0 0.38rem;
                                        position: absolute;
                                    }
                                }
                                .dropdown-links {
                                    background: $White;
                                    position: absolute;
                                    padding: 1.25rem;
                                    min-width: 9rem;
                                    border-radius: 0.27rem;
                                    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.5);
                                    left: 0;
                                    visibility: hidden;
                                    top: 0;
                                    opacity: 0;
                                    transition: all .2s;
                                    ul {
                                        display: flex;
                                        flex-direction: column;
                                        li {
                                            padding: 0.37rem 0;
                                            a {
                                                color: black;
                                                font-family: 'Ubuntu', sans-serif;
                                                padding: inherit;
                                                display: flex;
                                                width: 100%;
                                                &:hover {
                                                    font-weight: 700;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right-nav {
                        display: flex;
                        .button-nav {
                            a {
                                background: $White;
                                font-family: 'Ubuntu', sans-serif;
                                font-weight: 700;
                                border-radius: 2.77rem;
                                &:first-of-type {
                                    background: transparent;
                                    padding: 0 1.5rem;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                                &:nth-of-type(2) {
                                    color: $Light-red;
                                    padding: 1em 2.25em;
                                    &:hover {
                                        color: $White;
                                        background: $Very-light-red;
                                    }
                                }
                            }
                        }
                    }
                }
                .hero-container {
                    padding: 3.75rem 0 9rem;
                    .hero-intro {
                        h1 {
                            font-size: 4rem;
                        }
                        .hero-caption {
                            font-size: 1.125rem;
                            letter-spacing: 0.03em;
                            color: $Grayish-blue2;
                        }
                    }
                }
            }
        }
    }
    .toggle {
        display: none;
    }
    .toggle-nav {
        display: none;
    }
    .main-content {
        position: relative;
        overflow-x: hidden;
    }
    .main-content_features {
        padding: 9.88rem 0 14.88rem;
        h2 {
            font-size: 2.37rem;
            margin-bottom: 6.38rem;
        }
        ul li .container .feature-container .content {
            @include content-width-initial;
        }
        .content--extra {
            padding: 8rem 0 4.25rem 6rem;
        }
        .feature-container {
            display: flex;
            .content ul li {
                margin-bottom: 5.5rem;
            }
            .illustration-container {
                width: 45% !important;
            }
            .content {
                width: 60% !important;
                text-align: initial;
                ul li h3 {
                    font-size: 1.75rem;
                }
            }
            .content--padding-right {
                padding-right: 6rem;
            }
            .content--padding-left {
                padding: 11.5rem 0 0 6rem;
            }
        }
        .feature-container--reverse {
            flex-direction: row-reverse;
        }
        .feature-container--extra {
            margin: 10.38rem 0 7.5rem;
            position: initial;
            background: url(/assets/images/bg-pattern-circles.svg), linear-gradient(45deg, $Very-dark-gray-blue, $Very-dark-desaturated-blue 80%);
            background-repeat: no-repeat;
            background-position: -50% 90%;
            .feature-container_circle {
                display: flex;
                background: initial;
                // background-size: initial;
                // background-position: left -70% bottom 20%;
                .illustration-container--marginTop {
                    margin-top: -4.25rem;
                    .illustration2-desktop {
                        display: block;
                        position: absolute;
                        transform: translateX(-105%);
                    }
                }
            }
        }
        .feature-container--relative {
            position: relative;
        }
    }

    
    .container--width {
        &:first-of-type {
            @include container-width-mobile;
        }
    }
    .illustration-mobile {
        display: none;
    }
    .illustration-desktop {
        display: block;
        position: absolute;
        top: 4.25rem;
    }
    .illustration2-mobile {
        display: none;
    }
    .illustration-desktop--absolute {
        top: 0;
        transform: translateX(-45%);
    }
    p {
        margin: 1.5rem 0;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        background: linear-gradient(.25turn, $Very-light-red2, $Light-red2);
        .header-wrapper {
            background-size: initial;
            background-position: right 75% bottom 48%;
        }
    }
}